/* mobile */
@media only screen and (max-width: 600px) {
  .nav-control a {
    display: block;
  }

  #banner {
    font-size: 12px;
    color: #f7f7f7;
    z-index: 1;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, 50%);
  }

  img {
    height: 300px;
    position: relative;
  }

  #banner span {
    font-size: 10px;
    margin-left: 36px;
  }
  #about .container {
    display: block;
  }

  #target {
    margin-bottom: 4.8rem;
    padding-left: 4.8rem;
  }

  #personal-info {
    padding-left: 4.8rem;
  }

  #target p {
    width: 30%;
  }

  #job-info .container {
    display: block;
  }

  #job-info .container {
    width: 70%;
    margin-left: 4.8rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  .sothich--layout {
    margin-top: 36px;
    display: flex;
  }

  .sothich--layout .text {
    font-size: 10px;
    margin-top: 12px;
    margin-left: 2px;
    font-weight: 400;
  }

  #job-info .ic-megaphone,
  #job-info .ic-strategy,
  #job-info .ic-hotairballoon,
  #job-info .ic-basket {
    color: #228be6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #228be6;
  }

  #certificate .container {
    display: block;
  }

  .chungchi-1,
  .chungchi-2,
  .chungchi-3 {
    width: 30%;
    display: block;
    margin-bottom: 2.4rem;
    margin-left: 6rem;
    border: none;
    box-shadow: none;
  }

  .chungchi-text {
    width: 300px;
    padding-left: 2.4rem;
    border-bottom: 2px solid #d6c08d;
  }

  .hinhchungchi {
    width: 300px;
    height: 180px;
  }

  #project .container {
    display: block;
  }

  .container .duan-1,
  .container .duan-2,
  .container .duan-3 {
    width: 30%;
  }

  #project .cv-canhan {
    font-size: 10px;
  }

  #project .cv-thongtin {
    display: flex;
    align-items: center;
    padding: 1.2rem 0;
  }

  .duan-1,
  .duan-2,
  .duan-3 {
    margin-bottom: 4.8rem;
    margin-left: 4.8rem;
  }

  .cv-thongtin {
    font-size: 10px;
  }

  .year {
    transform: scale(0.7);
  }

  #footer {
    font-size: 12px;
  }

  #footer ul {
    display: block;
  }
  #footer li {
    margin-right: 6rem;
  }

  /* Project-charter mobile screen */
  /* ---------------------------------- */
  /* ---------------------------------- */
  /* ---------------------------------- */
  /* ---------------------------------- */
  /* Container */

  .container {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 12px;
    padding: 12px;
    color: blue;
  }

  /* Goals */
  .Goals {
    width: 300px;
    height: 530px;
    order: 1;
  }

  .Goals-contents-flex {
    display: block;

    margin: 12px 48px;
    border-bottom: 1px solid #998f0028;
  }
  .icon {
    width: 0;
    height: 0;
  }

  /* Team */

  .Team {
    width: 300px;
    height: 360px;
    font-size: 12px;
    order: 3;
  }

  /* Scopes */

  .Scopes {
    width: 300px;
    height: 450px;
    order: 2;
  }

  .Scopes-contents {
    display: block;
  }

  .Scopes-contents-in {
    margin-bottom: 48px;
  }

  /* Primary */

  .Primary {
    width: 300px;
    height: 250px;
    order: 4;
  }

  .Primary-contents-flex {
    font-size: 12px;
    margin: 36px 12px;
  }

  /* Timeline */

  .Timeline {
    width: 300px;
    height: 630px;
    order: 5;
  }
}
